
/* Your CSS Code here. */
table{
	width: 600px;
/* 	text-align: center; */
}

 table,tr,td,th {
	border: 1px solid black;
	 border-collapse: collapse;
}

th{
	text-align: left;
}

td{
	text-align: right;
}

#dif{
	text-align: left;
}
thead tr:nth-child(1){
	background: red;
}
tbody tr:nth-child(3){
	background: grey;
}